cinema:
  weeks-to-live: 3

server:
  error:
    path: '/error'

spring:
  application:
    name: cinema

  thymeleaf:
    cache: false

  sql:
    init:
      mode: never

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: false

  servlet:
    multipart:
      max-file-size: 128KB
      max-request-size: 128KB

logging:
  level:
    org:
      springframework:
        web:
          servlet:
            mvc:
              method:
                annotation:
                  RequestResponseBodyMethodProcessor: WARN
            DispatcherServlet: WARN
      hibernate:
        Version: OFF
        boot: OFF
    com:
      zaxxer:
        hikari: OFF
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path:
      swagger.html
