<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <style>
    nav {
      display: flex;
      align-items: center;
      background-color: #f0f0f0;
      padding: 10px;
    }
    nav a {
      margin-right: 20px;
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }
    nav a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
<nav>
    <a th:href="@{/}"style="text-decoration: none; color: inherit;"><i class="fa-solid fa-house-crack"></i></a>
    <a th:href="@{/screenings}" style="text-decoration: none; color: inherit;"><i class="fa-solid fa-video"></i> Screenings </a>
    <a  th:href="@{/movies}" style="text-decoration: none; color: inherit;"><i class="fa-solid fa-film"></i> Film</a>
    <a th:href="@{/upload}" style="text-decoration: none; color: inherit;"><i class="fa-solid fa-plus"></i> file</a>
    <a  style="text-decoration: none; color: inherit;"><i class="fa-solid fa-list"></i> lista file</a>
    <div style="flex-grow: 1;"></div>
    <h4 th:text = " ${currentDay} " style="text-decoration: none; margin-right: 1rem;color: inherit;"> Data Corrente </h4>
    <a th:href="@{/sunday}" style="text-decoration: none; color: inherit;"><i class="fa-solid fa-sun"></i> sunday</a>
</nav>

<ul th:each="file : ${files}">
  <li th:text="${file}">File</li>
</ul>

</body>
</html>