<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload File Excel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
        nav {
            background-color: #f0f0f0;
            padding: 10px;
        }
        nav a {
            margin-right: 20px;
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }
        nav a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <nav>
        <a th:href="@{/}" style="text-decoration: none; color: inherit;"><i class="fa-solid fa-house-crack"></i></a>
        <a th:href="@{/movies}" style="text-decoration: none; color: inherit;"><i class="fa-solid fa-film"></i> Film</a>
        <a th:href="@{/movies/upload}" style="text-decoration: none; color: inherit;"><i class="fa-solid fa-plus"></i> Inserisci file</a>
        <a th:href="@{/files}" style="text-decoration: none; color: inherit;"><i class="fa-solid fa-list"></i> lista file</a>
    </nav>
    <h1>Carica un file Excel</h1>

    <form th:action="@{/files/insert}" method="post" enctype="multipart/form-data">
        <label for="file">Seleziona file Excel:</label>
        <input type="file" id="file" name="file" accept=".xlsx, .xls" required />
        <br><br>
        <button type="submit">Carica</button>
    </form>
    <div>
        <h1 th:text="${insertion}"></h1>
    </div>
</body>
</html>